.logo img {
  width: 50px;
  padding: 12px;
}
body {
  margin: 0;
  background-color: rgb(200, 217, 219);
}
nav a {
  color: white;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(21, 22, 29);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
a:hover {
  color: rgb(196, 27, 27);
  text-decoration: underline;
}

.search-input {
  margin-left: auto;
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.searchicon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.search-input {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
}
